<%- include('../common/header') %>
<div class="ui error message" role="alert" id="errorMessage">
  You don't have permission to view this page!</br>
  To see this page, click login below: 
  <div class="ui message">
    <a href="/auth/login">Login</a>
  </div>
</div>
<%- include('../common/footer') %>